<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo câu hỏi trắc nghiệm </title>
</head>
<body>
    <main>
        <h2>Biến tài liệu thành câu hỏi trắc nghiệm thú vị!</h2>
        <p class="subtitle">Tải lên PDF, TXT hoặc DOCX và nhận ngay bộ câu hỏi trắc nghiệm tự động</p>
        <div class="landing-btn">
            <a class="button-3d" href="/upload_page">Bắt đầu</a>
            <a class="button-3d secondary" href="{{ url_for('howto') }}">Hướng dẫn</a>
        </div>
    </main>
</body>
</html>
